.form-gap {
  padding-top: 70px;
}

* {
  box-sizing: border-box;
}

body {
  background: #effeff;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

/* .resetPassword {
   background-color: #3d5a80;
  color: rgb(241, 241, 255); */

/* #formBody {
  border-radius: 200px !important;
  box-shadow: 30px;
} */
